App/ProgramFiles/resources/appx/AppX/10/MobileManifestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/mobile/windows10"
           xmlns="http://schemas.microsoft.com/appx/manifest/mobile/windows10"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
           xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10"
           xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
           >
           
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"/>

  <xs:element name="Capability" substitutionGroup="f:CapabilityChoice">
    <xs:complexType>
      <xs:attribute name="Name" type="t:ST_Capability_Mobile" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Extension" substitutionGroup="f:ApplicationExtensionChoice">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element name="AowApp" type="CT_AowApp" />
        <xs:element name="MobileMultiScreenProperties" type="CT_MultiScreen"/>
      </xs:choice>
      <xs:attribute name="Category" type="t:ST_ApplicationExtensionCategory_Mobile" use="required" />
      <xs:attributeGroup ref="t:ExtensionBaseAttributes"/>
      <xs:attributeGroup ref="uap10:TrustLevelGroup"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CT_AowApp">
    <xs:all>
      <xs:element name="PayloadName" type="t:ST_NonEmptyString" minOccurs="1"/>
      <xs:element name="PayloadVersion" type="t:ST_NonEmptyString" minOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CT_MultiScreen">
    <xs:attribute name="RestrictToInternalScreen" type="xs:boolean"/>
  </xs:complexType>
</xs:schema>
