App/ProgramFiles/resources/appx/AppX/10/MsixAppCompatSupportManifestSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://schemas.microsoft.com/appx/manifest/preview/windows10/msixappcompatsupport"
           xmlns="http://schemas.microsoft.com/appx/manifest/preview/windows10/msixappcompatsupport"
           xmlns:t="http://schemas.microsoft.com/appx/manifest/types"
           xmlns:f="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    >

  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/types"/>
  <xs:import namespace="http://schemas.microsoft.com/appx/manifest/foundation/windows10"/>

  <xs:attributeGroup name="PreviewEntryPointAttributesGroup">
    <xs:attribute name="CompatMode" type="ST_CompatMode" use="optional" form="qualified"/>
    <xs:attribute name="Scope" type="ST_Scope" use="optional" form="qualified"/>
  </xs:attributeGroup>

  <xs:simpleType name="ST_CompatMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="classic"/>
      <xs:enumeration value="modern"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Scope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="machine"/>
      <xs:enumeration value="user"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ProgId" type="t:ST_ProgId"/>

</xs:schema>
